.gdbar img {
  width: 85px !important;
  height: 85px !important;
  margin: 15px 15px;
}

.gdbar {
  width: 100px !important;
  height: 100px !important;
}

slides > slide:not(.nobackground):before {
  width: 300px;
  height: 150px;
  background-size: 150px 75px;
}


.reveal section p {
  color: green;
}

#header1 {
color: red;
}